body { background-image:url("AddACardWallpaper2.jpg"); background-repeat:no-repeat; background-size:cover;}

img.logo { display:block; margin:auto; }
img.imageForCreation { display:table-cell; width:60%; height:60%; margin:0%; }
img.imageCell { display:table-cell; cursor:pointer; overflow:hidden; }

div.pageBottom { background-color:#000000; position:absolute; height:300px; width:100%; bottom:-300px; left:0px;}
div.formForCard { position:absolute; right:1%; top:23%; height:650px; width:500px; font-weight:bold; font-family:sans-serif; color:white;
                    font-size: 12pt; padding-top:35px;}
div.imageCreationDiv { display:table; vertical-align: middle; width:400px; height:200px; padding:0px;}

td.arrowImg { width:27px; }

tr.artImg { display: table-row; vertical-align: middle; align-content: center; }

table { width:fit-content; padding:0px; spacing:0px; }

textarea.cardDescription { width:470px; height:150px; text-align: left;}

@font-face { font-family: 'MagicFont'; src: url('MAGIC.TTF') format('truetype'); }

button#cardSubmitButton { width:200px; height:25px; }

.card-container {
    border: 1px solid black;
    width: 500px;
    height: 700px;
    position:absolute;
    right:21%;
    top: 23%;
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: -8px 9px 16px -3px gray;
}

.card-background {
    height: 600px;
    margin: 20px 20px 0 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
    background-color: #bbb;
}

.card-container {
    background: #171314;
}

.card-frame {
    z-index: 1;
    position: relative;
    height: 108%;
    max-width: 97%;
    left: 1%;
    top: 0.5%;
    left: 1.2%;
    display: flex;
    flex-direction: column;
}

.card-background {
    z-index: 0;
}

/*
 — — — — — — — — — — — — -
 — — — — — — — — — — — — -
 BORDERS
 — — — — — — — — — — — — -
 — — — — — — — — — — — — -
*/
.frame-header,
.frame-type-line {
    border-bottom: 4px solid #a9a9a9;
    border-left: 2px solid #a9a9a9;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}
.frame-header,
.frame-art,
.frame-type-line {
    box-shadow:
            0 0 0 2px #171314,
            0 0 0 5px #26714A,
            -3px 3px 2px 5px #171314;
    margin-bottom: 7px;
}
.frame-text-box {
    box-shadow:
            0 0 0 5px #26714A,
            -3px 3px 2px 5px #171314;
    overflow: auto;
}

/*
 — — — — — — — — — — —
 — — — — — — — — — — —
 OVERFLOW
 — — — — — — — — — — —
 — — — — — — — — — — —
*/
.frame-header,
.frame-type-line,
.frame-text-box {
    overflow: hidden;
}

.frame-header,
.frame-type-line {
    background:
            linear-gradient( 0deg, rgba(201, 216, 201, .3), rgba(201, 216, 209, .3) ),
            url(https://image.ibb.co/jKByZn/tile_bg_1.jpg);
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    border-radius: 18px/40px;
}

.name,
.type {
    font-size: 1.3em;
    margin-left: 10px;
    align-self: center;
    font-weight: 600;
    font-family: MagicFont, sans-serif;
}

.mana-iconGreen { font-size: 1.4em; background: #ADD3AC; border-radius: 50%; box-sizing: border-box; box-shadow: -0.05em 0.12em 0px 0 black; margin-right: 5px;
                height: 20px; align-self: center;
}
.mana-iconBlue { font-size: 1.4em; background: #9bc5ef; border-radius: 50%; box-sizing: border-box; box-shadow: -0.05em 0.12em 0px 0 black; margin-right: 5px;
    height: 20px; align-self: center;
}
.mana-iconBlack { font-size: 1.4em; background: #e1d5d9; border-radius: 50%; box-sizing: border-box; box-shadow: -0.05em 0.12em 0px 0 black; margin-right: 5px;
    height: 20px; align-self: center;
}
.mana-iconRed { font-size: 1.4em; background: #f8ac95; border-radius: 50%; box-sizing: border-box; box-shadow: -0.05em 0.12em 0px 0 black; margin-right: 5px;
    height: 20px; align-self: center;
}
.mana-iconWhite { font-size: 1.4em; background: #fffff1; border-radius: 50%; box-sizing: border-box; box-shadow: -0.05em 0.12em 0px 0 black; margin-right: 5px;
    height: 20px; align-self: center;
}


.frame-art {
    height: 100%; /* make it fit in the card */
    margin: 0 10px; /* align it vertically */
}

#set-icon {
    height: 120%;
    width: 10%;
    /*overflow: hidden;*/
    margin-right: 10px;
    align-self: end;
}

.frame-type-line {
    margin-top: 0;
}

.frame-text-box {
    margin: 0 10px;
    background: #d3ded6;
    background-image: url(https://image.ibb.co/dFcNx7/tile_bg_2.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px 6px;
    box-sizing: border-box;
    font-size: 12pt;
    font-family: MagicFont, sans-serif;
}

.flavour-text {
    font-style: italic;
    padding: 10px 0;
}

p {
    margin-bottom: 5px;
}
.ftb-inner-margin {
    margin: 5px 1px;
}

.frame-bottom-info {
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 5px 15px 0 15px;
}

.fbi-left {
    flex: 1;
}
.fbi-left p:first-of-type {
    margin-bottom: 1px;
}
.fbi-right {
    flex: 1;
    text-align: right;
}
.fbi-left,
.fbi-right {
    font-size: 10px;
    position: relative;
    top: 6px;
}

.fbi-center {
    border-radius: 60%;
    flex-basis: 41px;
    height: 21px;
    position: relative;
    bottom: 11px;
    z-index: 2;
    background: lightgray;
    background-image: url(holofoil-texture-2.jpg);
    box-shadow:
            0 0 0 4px #171314;
}

.card-background {
    background-image: url(green-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.gitGlass{
    background: linear-gradient(135deg,rgba(255,255,255,0.3),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px; border: 5px solid rgba(255, 255, 255, .3);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}
button#purpButtonT {
    background-color: #1a035b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 8%;
    top: 30%;
    left: 40%;
    position: absolute;
    /*border-radius:48% 52% 52% 48% / 0 0 100% 100%;*/
    box-shadow: 0 0 89.1px rgba(0, 0, 0, -0.07),
    0 0 81.4px rgba(0, 0, 0, -0.087),
    0 0 70.1px rgba(0, 0, 0, 0.136),
    0 0 58px rgba(0, 0, 0, 0.4);
}
.button#purpButtonD {background-color: #14063d;color: white;padding: 14px 20px;margin: 8px 0;cursor: pointer;width: 8%;top: 30%;left: 50%;position: absolute;
    /*border-radius:48% 52% 52% 48% / 0 0 100% 100%;*/box-shadow: 0 0 89.1px rgba(0, 0, 0, -0.07), 0 0 81.4px rgba(0, 0, 0, -0.087), 0 0 70.1px rgba(0, 0, 0, 0.136), 0 0 58px rgba(0, 0, 0, 0.4);
}

.glass{
    background: linear-gradient(135deg,rgba(255,255,255,0.3),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px; border: 5px solid rgba(255, 255, 255, .3);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}
button#purpButton {
    background-color: #1a035b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 8%;
    top: 35%;
    left: 19%;
    position: absolute;
    /*border-radius:48% 52% 52% 48% / 0 0 100% 100%;*/
    box-shadow: 0 0 89.1px rgba(0, 0, 0, -0.07),
    0 0 81.4px rgba(0, 0, 0, -0.087),
    0 0 70.1px rgba(0, 0, 0, 0.136),
    0 0 58px rgba(0, 0, 0, 0.4);
}