
body {
    padding:0; margin:0;
    overflow-x: hidden;
}

div.outerContents {
    display:block;
    width:100vw;
    height:100vh;
    background-image:linear-gradient(#5979a0,#7fa1ba);
    margin: auto;
}

.glass{
    background: linear-gradient(135deg,rgba(255,255,255,0.3),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px; border: 5px solid rgba(255, 255, 255, .3);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}
button#blueButton {
    background-color: #501556;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 7%;
    top: 59%;
    left: 47%;
    position: absolute;
    /*border-radius:48% 52% 52% 48% / 0 0 100% 100%;*/
    box-shadow:
            0 0 89.1px rgba(0, 0, 0, -0.07),
            0 0 81.4px rgba(0, 0, 0, -0.087),
            0 0 70.1px rgba(0, 0, 0, 0.136),
            0 0 58px rgba(0, 0, 0, 0.4);

}
.imageShadow {box-shadow: 0 0 3px rgba(0, 0, 0, -0.159), 0 0 7px rgba(0, 0, 0, -0.183), 0 0 18px rgba(0, 0, 0, 0.027), 0 0 58px rgba(0, 0, 0, 1);}

div#outerContents {display: block;width: 100vw;height: 100vh;background-image: linear-gradient(#231c29,#431e3f);margin: auto;}

img.logo { display:block; margin:auto; }

/*#231c29,#431e3f (the purple)  #5979a0,#7fa1ba (the blue)*/
div.contents { display:block; margin:auto; text-align:center;}
div.midContents { display:block; width:max-content; padding:5px;
    margin: 10% auto auto;
}
div.cardsDivClass { text-align:center;}

/*div#cardsDiv {*/
/*    text-align:center;*/
/*    width:max-content;*/
/*    margin:auto;*/
/*    font-weight:bold;*/
/*    font-size:18pt;*/
/*}*/
div#cardsDiv {
    text-align:center;
    margin:auto;
    font-size:18pt;

    overflow-x: hidden;
    width: 1200px;
    height: 750px;

}

div.adminButtons { position:absolute; bottom:5px; left:5px; }
div.pageBottom { background-color:#090930; position:absolute; height:300px; width:100%; bottom:-300px;}


button.button { width:150px; height:35px; border-color:#dfdcc9; border-style:solid; background-color:#85a5ba; font-weight:bolder;}
button.mainMenu { height:50px; width:200px; padding:5px; background-color:#294970; color:#7fa1ba; border-radius:40px; font-size:16pt; }


td.rj { text-align: right; }
td.center { display:table-cell; text-align:center; }
