body {
    padding:0; margin:0;
    overflow-x: hidden;
}

div.outerContents {
    display:block;
    width:100vw;
    height:100vh;
    background-image:linear-gradient(#5979a0,#7fa1ba);
    margin: auto;
}

div.cardsToShow { display:block; margin:auto; width:1300px; overflow-y:scroll; text-align:center;}

img.logo { display:block; margin:auto; }